name: Build TeristaSpace APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: "temurin"
        java-version: "21"

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install Build Tools + NDK
      run: |
        sdkmanager "build-tools;34.0.0" "platforms;android-35" "ndk;29.0.13846066"

    - name: Make Gradle executable
      run: chmod +x ./gradlew

    - name: Build Debug APK
      run: ./gradlew clean assembleDebug --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: TeristaSpace-debug
        path: app/build/outputs/apk/debug/*.apk
